.footer{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    gap: 5rem;
    padding-bottom: 3rem;
    background-color: #fec3c1;
    color: black;
    padding-top: 2rem;
    margin-top: -5px;
    font-weight: 500;
}

.footer>div{
    cursor: pointer;
}

.wave{
    min-width: 120rem;
    min-height: 30rem;
}

@media (max-width: 32em){
    .footer{
        gap: 2.4rem;
        font-size: 1.4rem;
    }
}