.main {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 22rem auto 0 auto;
    text-align: center;
    gap: 6rem;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 2rem;
}

.heading {
    font-size: 3.8rem;
    letter-spacing: -0.2px;
    font-weight: 600;
}

.content {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

@media (max-width: 43em) {
    .main {
        max-width: 62rem;
        margin-top: 16rem;
        gap: 4rem;
    }
    .heading {
        font-size: 2.8rem;
    }
    .content {
        font-size: 1.6rem;
    }
}