body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    overflow-x: hidden;
}

:root {
    --background-color: #fff;
    --text-color: #983734;
    --button-bg-color: rgb(56, 41, 70);
    --button-text-color: white;
    --card-bg-color: #fec3c1;
    --card-text-color: black;
}

html {
    font-size: 62.5%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#imageContainer {
    display: flex;
    max-width: 90rem;
    margin: 12rem auto;
}

#imageContainer img {
    transition: transform 0.3s ease;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#imageContainer img.active {
    z-index: 1;
    transform: scale(1.6);
}

#imageContainer :not(img.active) {
    opacity: 0.5;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #fd6a65;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

#reveal {
    transform: translateY(50vh);
    transition: all 0.6s ease-in-out;
}

#reveal.active {
    transform: translateY(0);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/* @media (max-width: 80em) { 1280px
    @media (max-width: 62em){ 992px
    @media (max-width: 57em){ 912px
    @media (max-width: 49em){ 784px
    @media (max-width: 43em){ 688px 
    @media (max-width: 32em){ 512px 
    @media (max-width: 27em){ 432px */

@media (max-width: 80em) {
    #imageContainer {
        max-width: 80rem;
    }
}

@media (max-width: 62em) {
    #imageContainer {
        max-width: 70rem;
    }
}

@media (max-width: 43em){
    #imageContainer {
        max-width: 50rem;
        margin: 8rem auto;
    }
}
